<% if @events %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
      	<center><h2>Mi Horario</h2></center>
      	<div id='calendar'></div>
      </div>
    </div>
  </div>  
  <script>
  $(document).ready(function() {
      // page is now ready, initialize the calendar...
      $('#calendar').fullCalendar({
      	header: {
          left: '',
          center: '',
          right: ''
        },
        height: 720,
        columnFormat: 'ddd',
        allDaySlot: false,
        minTime: '07:00:00',
        maxTime: '22:00:00',
        defaultView: 'agendaWeek',
        events: <%== @classes.to_json %>,
        eventMouseover: function(calEvent, jsEvent, view) {
        // change the border color just for fun
        $(this).css('border-color', 'red');},
        eventMouseout: function(calEvent, jsEvent, view) {
        // change the border color just for fun
        $(this).css('border-color', 'gray');}
      })
  });
  </script>
<% else %>
  <h2>NO HAS MANDADO MAIL...</h2>
  <h4>Reenvia el mail que te mandaron de inscripciones al mail horarios.monterrey@gmail.com</h4>
<% end %>