<div class = "container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs" role="tablist" id="myTab">
          <li class="active"><a href="#add" data-toggle="tab">Agregar</a></li>
          <li><a href="#view" data-toggle="tab">Ver Amigos</a></li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane fade active in" id="add">
            <%= render 'add_friend' %>
          </div>
          <div class="tab-pane fade in" id="view">
            <%= render 'view_friends' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
