<p>HOLA!</p>

<p>Alguien a solicitado un link para cambiar tu contraseña. Puedes hacer esto desde el link siguiente.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Si tu no solicitaste un cambio de contraseña, porfavor ignora el mensaje.</p>
<p>Tu contraseña no cambiara hasta que entres en el link y confirmes la nueva contraseña.</p>
<br/>

<p>
  Gracias!,<br/><br/>
  Kiin
</p>
